<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Все студенты</title>
    <link rel="stylesheet" th:href="@{/course.css}" />
</head>
<body>

<div class="container">
    <div align="center">

        <div class="autoris" sec:authorize="isAuthenticated()">
            <h1>Добро пожаловать</h1> <span sec:authentication="name"></span>
            <i><span sec:authenticated="principal.authorities">Role</span></i>
        </div>
        <br>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти">
        </form>

        <h1 class="course_title">Студенты</h1>
        <hr>
        <h3 class="course_link"><a href="/student/new">Создать студента</a></h3>
        <br>
        <br>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>email</th>
                <th>Формат обучение</th>
                <th>Группа</th>
                <th sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">Операции</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${student}">
                <td th:text="${student.id}">ID</td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.studyFormat}"></td>
                <td th:text="${student.group.getGroupName()}"></td>
                <td sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">
                    <div class="course_link"><a th:href="@{'student/edit/'+${student.id}}">Редактировать</a></div>
                    <div class="course_link"><a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{'student/delete/'+${student.id}}">Удалить</a></div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <h3 class="course_link"><a href="/">Компании</a></h3>
        <h3 class="course_link"><a href="/course/">Курсы</a></h3>
        <h3 class="course_link"><a href="/group/">Группы</a></h3>
        <h3 class="course_link"><a href="/teacher/">Преподаватели</a></h3>
    </div>
</div>

</body>
</html>