<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
    <link rel="stylesheet" th:href="@{/course.css}" />
</head>
<body>

<div class="container">
    <div align="center">

        <div class="autoris" sec:authorize="isAuthenticated()">
            <h1>Добро пожаловать</h1> <span sec:authentication="name"></span>
            <i><span sec:authenticated="principal.authorities">Role</span></i>
        </div>
        <br>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти">
        </form>

        <h1 class="course_title">Группы</h1>
        <hr>
        <h3 class="course_link"><a href="/group/new">Создать группу</a></h3>
        <br>
        <br>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Начало группы</th>
                <th>Конец группы</th>
                <th>Курсы</th>
                <th sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">Операции</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group: ${group}">
                <td th:text="${group.id}">ID</td>
                <td th:text="${group.groupName}"></td>
                <td th:text="${group.dateOfStart}"></td>
                <td th:text="${group.dateOfFinish}"></td>
                <td th:text="${group.courses}"></td>
                <td sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">
                    <div class="course_link"><a th:href="@{'group/edit/'+${group.id}}">Редактировать</a></div>
                    <div class="course_link"><a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{'group/delete/'+${group.id}}">Удалить</a></div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <h3 class="course_link"><a href="/">Компании</a></h3>
        <h3 class="course_link"><a href="/course/">Курсы</a></h3>
        <h3 class="course_link"><a href="/student/">Студенты</a></h3>
    </div>
</div>

</body>
</html>