<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Курсы</title>
    <link rel="stylesheet" th:href="@{/course.css}" />
</head>
<body>

<div class="container">
    <div align="center">

        <div class="autoris" sec:authorize="isAuthenticated()">
            <h1>Добро пожаловать</h1> <span sec:authentication="name"></span>
            <i><span sec:authenticated="principal.authorities">Role</span></i>
        </div>
        <br>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти">
        </form>

        <h1 class="course_title">Курсы</h1>
        <hr>
        <h3 class="course_link"><a href="/course/new">Создать курс</a></h3>
        <br>
        <br>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Продолжительность</th>
                <th>Компания</th>
                <th sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">Операции</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course: ${course}">
                <td th:text="${course.id}">ID</td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.duration}"></td>
                <td th:text="${course.company.getName()}"></td>
                <td sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">
                    <a th:href="@{'course/edit/'+${course.id}}">Редактировать</a>
                    <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{'course/delete/'+${course.id}}">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <h3 class="course_link"><a href="/">Компании</a></h3>
    </div>
</div>

</body>
</html>